version: '3'
services:
  backend:
    image: "{{  api[env].api_image }}:{{ api[env].api_image_tag}}"
    environment:
      DB_USER: "{{ db[env].db_user }}"
      DB_PASSWORD: "{{ db[env].db_user_passw }}"
      DB_NAME: "{{ db[env].db_name }}"
      DB_PORT: "{{ db[env].db_port }}"
      DB_HOST: "{{ hostvars[env].ansible_host }}"
      API_PATH: "{{ api[env].api_path }}"
      PORT: 3000
    deploy:
      replicas: "{{ api[env].api_replicas }}"
    networks:
      - loadbalancing
  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - /etc/nginx/conf.d/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - loadbalancing
    depends_on:
      - backend
networks:
  loadbalancing: {}